.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(42,51,60,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(42,51,60,0.4); 
}

@font-face {
  font-family: 'Neuton', serif;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Poppins', sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fontP {
  font-family: 'Poppins';
}

.fontOS {
  font-family: 'Open Sans';
}

.fontN {
  font-family: 'Neuton';
}

html {
  min-height: 100%;
  position: relative;
  background-color: initial;


}

body {
  /*margin-top: 50px !important;*/
  height: 100%;
  padding: 0px !important;
  /*position: absolute;*/
}

.fa {
  padding: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 15px 10px;
  border-radius: 50%;
  color: white;
  background-color: grey;
}

.fa-facebook:hover {
  background: #3B5998;
  color: white;
}

.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

.fa-github:hover {
  background: black;
  color: white;
}

.fa-wordpress:hover {
  background-color: blue;
  color: white;
}

.fa-file-text:hover {
  background-color: orange;
  color: white;
}

.sidebar{
  height: 100%;
  min-height: 500px;
  background-color: rgba(34,34,34, .2);
  background-size: cover;
  position: absolute !important;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  z-index: 1;
}


.sidebar > p {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0px !important;
  font-family: 'Ubuntu';
  color: white;
}

.sidebar > div > a {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0px !important;
  line-height: 25px;
  font-size: 25px;
}

.sidebar > p:hover {
  background-color: rgba(34,34,34, .5);
  cursor: pointer;
  /*color: yellow;*/
}

#homeBG {
  
  height: 100%;
  background-size: cover;
}

#homeBGImg{
  position: fixed;
  top:0; 
  left:0; 
  width: 100%;
  min-height: 656px;
}

#homeText1, #homeText2 {
  padding-top: 40px;
  font-size: 50px;
  color: white;
  
}

#homeText1 {
  visibility: hidden;
  display: none;
}

#homeText2 {
  visibility: visible; 
  height: 260px;
}

.wrapper {
  color: #fff;  
  position: absolute;
  width: 50%;
  right: 90px;
  bottom:0;
  top:0;
  height: 100%;
  min-height: 500px;


  text-shadow: rgba(0,0,0,.3) 0px 2px 4px;

  padding: 10px 30px;

  z-index: 1;

  /*overflow-y: auto;*/
}

.wrapper img {
  border: solid 8px black;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 10px;
  height: 250px;
}

.wrapper a {
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0px !important;
  color: white;
  background-color: rgba(34,34,34, .4);
}

.wrapper a:hover {
  background-color: rgba(34,34,34, .7);
  cursor: pointer;
  color: white;
}

.wrapper p {
  font-size: 18px;
  font-family: 'Poppins';
}

.wrapper h1 {
  font-style: italic;
}

#myStory {
  font-size: 20px;
}

#aboutBG {
  background-color: #32584B;
  padding-left: 100px;
  top: 0;
  left: 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-shadow: rgba(0,0,0,.3) 0px 2px 4px;
  color: white;
  min-height: 100vh; 
  min-width: 100vw;
}

#aboutContainer{
  margin-left: 0px;
}

#aboutImg {
  width: 100%;

}

#aboutTop {
  width: 70%;
}

#contactForm {
  padding-top: 30px;
}

#fontFix {
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: rgba(128,128,128, 0.5);
}

#container {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
}

.footer {
  visibility: hidden;
  display: none;
  height: 50px;
  background-color: rgba(75,75,77,.8);
  background-size: cover;
  width: 100%;
  color: white;
  padding-top: 30px;
  position: absolute;
  bottom:0;
  margin-top: 80px;
}

.hiddenMobile {
  margin-top: 110px;
}

#events {
  margin: 15px;
}

#outreach {
  padding-left: 100px;
}

#groups {
  margin: 15px;
  min-width: 200px;
  max-width: 280px;
  max-height: 200px;
}

#groupContainer {
  display: inline-flex;
  margin: auto;
}

.inverse {
  background-color: black;
  color: white;
}

#eventImage {
  height: 180px;
  max-width: 280px;
  margin-bottom: 10px;
}

#eventImage:hover {
  border: red solid 2px;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .hiddenMobile {
    display: none;
  }

  #homeText1 {
    visibility: visible;
    font-size: 30px;
    display: inherit;
    position: absolute;
    width: 50%;
    right: 0px;
    bottom:75px;
    top:0;
    height: 100px;
    text-shadow: rgba(0,0,0,.3) 0px 2px 4px;
    margin-top: 85px;
    z-index: 1;  
  }

  #homeText2 {
    visibility: hidden;
    display: none;
  }

  .wrapper {
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
    width: 100%;
    height: 100%;
    right: 0;
    bottom:0;
    top:0;
    position: static;
    background-color: ;
    background-size: 100%;
  }

  .wrapper img {
    width: 85%;
    height: 300px;
  }

  #homeBG {
    min-height: 100vh; 
    min-width: 100vw;
    background-color: rgba(75,75,77, .8);
    width: 100%;
  }

  #homeBGImg {
    width: 100%;
    height: auto;
    position: static;
    min-height: auto;
  }

  #outreach {
    padding-left: 0px;
  }

  #aboutBG {
    background-color: #32584B;
    padding-left: 0px;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-shadow: rgba(0,0,0,.3) 0px 2px 4px;
    color: white;
    min-height: 100vh; 
    min-width: 100vw;
  }

  #aboutContainer {
    margin: auto;
    width: 80%;
  }

  #aboutImg {
    width: 50%;
  }

  #myStory {
    font-size: 18px;
  }

  .sidebar{
    
    background-color: black/*rgba(75,75,77,.8)*/;
    background-size: cover;
    position: absolute !important;
    display: inline-flex;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;
    width: 100% !important;
    height: 50px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 1;
    margin-bottom: 0px;
  }

  .sidebar > p:hover {
    background-color: rgba(75,75,75,.8);
    cursor: pointer;
  }


  #links {
    padding-left: 0px;
  }

  .footer {
    visibility: visible;
    display: inherit;
    height: 50px;
    background-color: black /*rgba(75,75,77,.8)*/;
    background-size: cover;
    width: 100%;
    color: white;
    padding-top: 7px;
    position: absolute;
    bottom:0;
    margin-top: 80px;
  }

  .fa {
    padding: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 50%;
    color: white;
    background-color: grey;
  }

  .footer > a {
    display: inline-flex;    
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .footer > a:nth-child(1) {
    display: inline-flex;    
    padding-left: 13px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
  }

  .footer > a:nth-child(3) {
    display: inline-flex;    
    padding-left: 11px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
  }

  .footer > a:nth-child(4) {
    display: inline-flex;    
    padding-left: 11px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
  }

  .footerPadding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

}

@media screen and (max-width: 767px) and (min-width: 481px) {

  .hiddenMobile {
    display: none;
  }

  #homeText1 {
    visibility: visible;
    font-size: 30px;
    display: inherit;
    position: absolute;
    width: 50%;
    right: 0px;
    bottom:75px;
    top:0;
    height: 100px;
    text-shadow: rgba(0,0,0,.3) 0px 2px 4px;
    margin-top: 85px;
    z-index: 1;  
  }

  #homeText2 {
    visibility: hidden;
    display: none;
  }

  .wrapper {
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
    width: 100%;
    height: 100%;
    right: 0;
    bottom:0;
    top:0;
    position: static;
    background-color: ;
    background-size: 100%;
  }

  .wrapper img {
    width: 95%;
    height: 300px;
  }

  #homeBG {
    min-height: 100vh; 
    min-width: 100vw;
    background-color: rgba(75,75,77, .8);
    width: 100%;
  }

  #homeBGImg {
    width: 100%;
    height: auto;
    position: static;
    min-height: auto;
  }

  #aboutBG {
    background-color: #32584B;
    padding-left: 0px;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-shadow: rgba(0,0,0,.3) 0px 2px 4px;
    color: white;
    min-height: 100vh; 
    min-width: 100vw;
  }

  #outreach {
    padding-left: 0px;
  }

  #myStory {
    font-size: 18px;
  }

  .sidebar{
    
    background-color: black/*rgba(75,75,77,.8)*/;
    background-size: cover;
    position: absolute !important;
    display: inline-flex;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;
    width: 100% !important;
    height: 50px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 1;
    margin-bottom: 0px;
  }

  .sidebar > p:hover {
    background-color: rgba(75,75,75,.8);
    cursor: pointer;
  }


  #links {
    padding-left: 0px;
  }

  .footer {
    visibility: visible;
    display: inherit;
    height: 50px;
    background-color: black /*rgba(75,75,77,.8)*/;
    background-size: cover;
    width: 100%;
    color: white;
    padding-top: 7px;
    position: absolute;
    bottom:0;
    margin-top: 80px;
  }

  .fa {
    padding: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 50%;
    color: white;
    background-color: grey;
  }

  .footer > a {
    display: inline-flex;    
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

    .footer > a:nth-child(1) {
    display: inline-flex;    
    padding-left: 13px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
  }

  .footer > a:nth-child(3) {
    display: inline-flex;    
    padding-left: 11px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
  }

  .footer > a:nth-child(4) {
    display: inline-flex;    
    padding-left: 11px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
  }

  .footerPadding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 480px) {

  .hiddenMobile {
    display: none;
  }

  #homeText1 {
    visibility: visible;
    font-size: 15px;
    display: inherit;
    position: absolute;
    width: 50%;
    right: 0px;
    bottom: 75px;
    top: 0;
    height: 100px;
    text-shadow: rgba(0,0,0,.3) 0px 2px 4px;
    margin-top: 75px;
    z-index: 1;  
  }

  #homeText2 {
    visibility: hidden;
    display: none;
  }

  .wrapper {
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
    width: 100%;
    height: 100%;
    right: 0;
    bottom:0;
    top:0;
    position: static;
    background-color: ;
    background-size: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .wrapper img {
    width: 100%;
    height: 200px;
  }

  .wrapper h2 {
    font-size: 22px;
  }

  .wrapper h1 {
    font-size: 30px;
  }

  .wrapper p {
    font-size: 15px;
  }

  #homeBG {
    min-height: 100vh; 
    min-width: 100vw;
    background-color: rgba(75,75,77, .8);
    width: 100%;
  }

  #homeBGImg {
    width: 100%;
    height: auto;
    position: static;
    min-height: auto;
    
  }

  #aboutBG {
    background-color: #32584B;
    padding-left: 0px;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-shadow: rgba(0,0,0,.3) 0px 2px 4px;
    color: white;
    min-height: 100vh; 
    min-width: 100vw;
  }

  #outreach {
    padding-left: 0px;
  }

  #myStory {
    font-size: 15px;
  }

  .sidebar{
    
    background-color: black/*rgba(75,75,77,.8)*/;
    background-size: cover;
    position: absolute !important;
    display: inline-flex;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;
    width: 100% !important;
    height: 50px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 1;
    margin-bottom: 0px;
  }

  .sidebar > p:hover {
    background-color: rgba(75,75,75,.8);
    cursor: pointer;
  }


  #links {
    padding-left: 0px;
  }

  .footer {
    visibility: visible;
    display: inherit;
    height: 50px;
    background-color: black /*rgba(75,75,77,.8)*/;
    background-size: cover;
    width: 100%;
    color: white;
    padding-top: 7px;
    position: absolute;
    bottom:0;
    margin-top: 80px;
  }

  .fa {
    padding: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 50%;
    color: white;
    background-color: grey;
  }

  .footer > a {
    display: inline-flex;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
  }

  .footer > a:nth-child(1) {
    display: inline-flex;    
    padding-left: 13px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
  }

  .footer > a:nth-child(3) {
    display: inline-flex;    
    padding-left: 11px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
  }

  .footer > a:nth-child(4) {
    display: inline-flex;    
    padding-left: 11px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    line-height: 5px;
    font-size: 15px;
  }

  .footerPadding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

